* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-brand {
    color: #ffffff;
}


.home {
    height: 100vh;
    background-image: url(../images/Finca.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home h1 {
    font-size: 5rem;
}

/* Actividades */
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot .contact a {
    position: absolute;
    height: 100%;
    top: 0;
}

.owl-carousel .owl-nav button.owl-next {
    right: 0;
}

.owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

/* Contacto */
.contact .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contact .item img,
.contact .redes img {
    width: 40px;
    margin: 10px;
}


@media(max-width: 767px) {
    .contact {
        font-size: 14px;
    }

    .contact .item img,
    .contact .redes img {
        width: 30px;
        margin-left: 0;
    }

    .navbar-collapse {
        background: rgba(0, 0, 0, .7);
        text-align: center;
        padding: 1rem 0;
    }

    .navbar-brand {
        display: none;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url(../images/menu.svg);
    }

    .navbar-toggler:focus {
        outline: 0;
    }
}

@media(max-width:576px) {
    .home h1 {
        font-size: 2.3rem;
        text-align: center;
    }

    .home h2 {
        font-size: 1.5rem;
        text-align: center;
    }
}